@model PORTOFOLIO.Models.Team
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Input Team";
}



<form id="profile-form" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row p-3 shadow border-0 mt-4">
            <input asp-for="Photo" class="form-control" hidden />
            <div class="col-12 border-bottom">
                <h2 class="text-primary">@title</h2>
            </div>
            <div class="col-12 pt-2">

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-10">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Jobs"></label>
                    </div>
                    <div class="col-10">
                        <textarea asp-for="Jobs" class="form-control"></textarea>
                        <span asp-validation-for="Jobs" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Position, "Position", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-10">
                        @Html.DropDownListFor(model => model.Position, (IEnumerable<SelectListItem>)ViewBag.ListPosistion, new { @class = "form-control", @id = "SearchPosition" })
                        <span asp-validation-for="Position" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Photo, "Image", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-10">
                        <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="TextHeader"></label>
                    </div>
                    <div class="col-10">
                        <textarea asp-for="TextHeader" class="form-control"></textarea>
                        <span asp-validation-for="TextHeader" class="text-danger"></span>
                    </div>
                </div>
                <br />


                <div class="form-group row">
                    <div class="col-4 offset-4">
                        @if (Model.Id != 0)
                        {
                            <partial name="_EditAndBackToListButton" model="Model.Id" />
                            @*        <button type="submit" class="btn btn-success form-control">Update</button>*@
                        }
                        else
                        {
                            <partial name="_CreateAndBackToListButton" />
                        }
                    </div>
                </div>
            </div>

        </div>

    </div>

</form>

@section Scripts{
    <script src="assets/js/main.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">



    </script>


}

